{% extends 'base.html' %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <p class="alert alert-dismissable {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ message }}
        </p>
    {% endfor %}
  {% endif %}

  <p>    
    <a href="{% url 'airwave:airwaveconfig_add' %}" class="btn btn-primary btn-sm">New Configuration</a>    
  </p>
  <table class="table table-bordered table-sm" style="font-size:0.75rem">
    <thead>
      <tr>
        <th>Key Name</th>        
        <th>Key Code</th>
        <th>Key Value</th>        
        <th>Action</th>       
      </tr>
    </thead>
    <tbody>
      {% for config in airwaveconfig %}
        <tr>
          <td>{{ config.key_name }}</a></td>          
          <td>{{ config.key_code }}</td>
          <td>{{ config.key_value }}</td>          
          <td>
            <div class="btn-group" role="group" aria-label="actions">              
              <a href="{% url 'airwave:airwaveconfig_edit' config.pk %}" class="btn btn-primary btn-xs">Modify</a>
              <a href="{% url 'airwave:airwaveconfig_delete' config.pk %}" class="btn btn-danger btn-xs">Delete</a>
            </div>
          </td>        
        </tr>
      {% empty %}
        <tr class="table-active">
          <td colspan="3">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}